*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
    /*outline: 1px solid #BB0000;*/
}
h2{
    color: #fff;
}
/*訂購訊息vs訂單下載 #1*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    position: relative;
}
/*nav bar*/
.navbar{
    margin-bottom:0;
    background-color: #8a0151;
    border-radius: 0;
}
.affix{
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: #8a0151;
    border-color: #8a0151;
    z-index: 99;
}
.affix a {
    color: #aaa !important;
    padding: 15px !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.affix-top a {
    padding: 15px !important;
}
.container-fluid{
    padding: 0;
}
/*navbar 與跑馬燈的之間高*/
.affix + .container-fluid {
    padding-top: 50px;
}
.dropdown-menu > li > a:hover{
    background-color: #4b525b;
}
/*nav bar end*/

/*news marquee跑馬燈*/
.marquee-container{
    margin-bottom: -0.2%;
}
.marQuee{
    overflow:hidden;
    width:100%;
    background-image: url("https://static.pexels.com/photos/1946/purple-abstract-haze-blur.jpg");
}
.doc-one{
    display:inline-block;
    width:100%;
}

/*news marquee跑馬燈 end*/

/*slider*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
}
/*slider end*/

/*section 內文文章介紹*/
#section1 {padding-top:0;min-height:100vh;color: #000; background-color: #fff;}
.parallax-one {
    /* The image used */
    background-image: url("https://static.pexels.com/photos/1946/purple-abstract-haze-blur.jpg");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section2 {padding-top:0;min-height:100vh;color: #fff; background-color: #000;}
#section3 {padding-top:0;min-height:100vh;color: #000; background-color: #fff;}
.parallax-three {
    /* The image used */
    background-image: url("https://static.pexels.com/photos/1946/purple-abstract-haze-blur.jpg");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section31 {padding-top:0;min-height:100vh;color: #fff; background-color: #000;}
#section32 {padding-top:0;min-height:100vh;color: #000; background-color: #fff;}
.parallax-Thirty-two {
    /* The image used */
    background-image: url("https://static.pexels.com/photos/1946/purple-abstract-haze-blur.jpg");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section33 {padding-top:0;min-height:100vh;color: #fff; background-color: #000;}
#section4 {padding-top:0;min-height:100vh;color: #000; background-color: #fff;}
.parallax-four {
    /* The image used */
    background-image: url("https://static.pexels.com/photos/1946/purple-abstract-haze-blur.jpg");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.thumbnail{
    margin-bottom:0;
    padding: 0;
}
#section5 {padding-top:0;min-height:100vh;color: #fff; background-color: #000;}
footer {padding-top:10px;min-height:100vh;color: #000; background-color: #fff;}
.parallax-footer {
    /* The image used */
    background-image: url("https://static.pexels.com/photos/1946/purple-abstract-haze-blur.jpg");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*row-section1*/
.section1-contact{
    text-align: center;
}
.item-section1_one>.images_logo>img{
    width:70%;
    height: 80px;
}
.section-button{
    width:40%;
    background-color: #8a0151;
    font-size: 16px;
}
.section-button:hover{
    background-color: #94326b;
}
.item-section1_two>.images_shop>img{
    width:100px;
}
/*row-section2*/
#section2 .caption p{
    color: #000;
}
/*row-section3*/
.item-img{
    width: 100%;
}
.item-img-pdt{
    width: 100%;
    height: 506px;
}
/*row-section(31、32、33)*/
.text-name h4{
    position:relative;
    z-index:2;
    margin-top:-250px;
    font-size: 60px;
    color: #1d2219;
    text-align: right;
}
/*row-section3-1(31)*/
#section31 .text-name h4{

}
/*row-section3-2(32)*/
#section32 .text-name h4{
    text-align: left;
}
.item-txt-pdt{
    text-align: left;
    color: #1d2219;
    font-size: 20px;
}
.item-txt-pdt p {
    color: #000;
}
.item-txt-pdt b{
    color: #000;
}
/*row-section3-3(33)*/
/*row-section4*/

/*第一層 訂購訊息vs訂單下載 #2*/
@media screen and (max-width: 25em) {
    .np-icon span {
        display: none;
    }
}
.grid {
     /*padding: 10px 10px 50px 10px;*/
     max-width: 100%;
     /*margin: 0 auto;*/
     list-style: none;
     text-align: center;
 }
.grid li {
    display: inline-block;
    width: 440px;
    margin: 0;
    /*padding: 10px;*/
    text-align: left;
    position: relative;
}
.grid figure {
    width: 100%;
    height: 195px;
    /*margin: 0;*/
    /*position: relative;*/
}
.grid figure > div {
    display: inline-block;
    position: relative;
}
/* 第二隱藏版子 */
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background: #888;
    color: #ed4e6e;
}
.grid figcaption h3 {
    /*width: 100%;*/
    margin: 0;
    padding: 0;
    color: #373cff;
}
/* take me there btn */
.grid figcaption a {
    text-align: center;
    padding: 0px 2px;
    border-radius: 2px;
    display: inline-block;
    background: #31a7c4;
    color: #fff;

}

/* Caption animation */
.ca-style li {
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 0%;
    perspective-origin: 0 0%;
}

.ca-style figure {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ca-style figure > div {
    overflow: hidden;
}

.ca-style figure img {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.ca-style figure:hover img
{
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%);
    cursor: pointer;
}

.ca-style figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.ca-style figure:hover figcaption{
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.ca-style figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn_hover:hover {
    background: #3fc7e8;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

/* make responsive */
@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 50px 10px;
    }
    .grid li {
        width: 100%;
        /*min-width: 300px;*/
    }
}


/*第三 隱私權聲明 文字設計*/
.privacy-statement{
    text-align: center;
    font-size: 16px;
}

/*row-section5*/
.pandm{
    padding: 0;
    margin: 0;
}
.row-cakeShop{
    background-image: url(../images/index/cakeShop.png);
    width: 100%;
    min-height: 660px;
}
/*<div class="col-xs-12 col-md-4">*/
.btn-form{
    padding: 0.8% 0 0 0;
}
.btn-sub{
    width:93%;
    background-color: #8a0151;
    font-size: 16px;
    color: #fff;
}
.btn-sub:hover{
    background-color: #94326b;
    color: #fff;
}
/*<div class="col-xs-12 col-md-8">*/
.required:after {
    content: " *必填欄位";
    color: red;
}
.bottom-margin{
    text-align: center;
}
/*section footer end 內文文章介紹*/

/*footer內右邊側邊欄位 (關鍵字)float menu*/
.blk {
    position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute 固定位置fixed*/
    width: 21%;
    right: -20%;  /*設-100置水平位置，依所放的內容多寡需要自行手動調整*/
    transition: 400ms;
    top: 37%;  /*設置垂直位置*/
    z-index: 100;
    background-color: #8a0151;
    border-radius: 15px 0 0 15px;
}
.blk:hover{  /*當滑鼠移至此區塊時，伸縮區塊*/
    width: 5%;
    right: 0;
    z-index: 100;
}
.blk3 {
    position: fixed;
    margin-top: 10px;
    transition: 400ms;
}
/*floating menu right*/
.nomargin{
    background-color: #8a0151;
    width: 20%;
    border-radius: 15px 0 0 15px;
}
/*loading*/
#loading {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #964133;
    background-repeat: no-repeat;
    background-position: 50% 4%;
    z-index: 999999;
}

#loading > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#loading > div > p {
    color: #fff;
    text-align: center;
    text-shadow: rgba(247, 143, 14, 0.75) 2px 2px 5px;
    font-weight: bold;
    font-family: "Century Gothic";
    font-style: italic;
    font-size: 22px;
}
