*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /*outline: 1px solid #BB0000;*/
}
/*訂購訊息vs訂單下載 #1*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    position: relative;
}
.wrapper{
    background-color: #000;
}

/*nav bar*/
.navbar{
    margin-bottom:0;
}
.affix{
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: #F44336;
    border-color: #F44336;
    z-index: 99;
}
.affix a {
    color: #aaa !important;
    padding: 15px !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.affix-top a {
    padding: 25px !important;
}
.container-fluid{
    padding: 0;
}
.affix + .container-fluid {
    padding-top: 95px;
}
.dropdown-menu > li > a:hover{
    background-color: #4b525b;
}
/*nav bar end*/

/*news marquee跑馬燈*/
.marquee-container{
    padding: 0;
}
/*news marquee跑馬燈 end*/

/*slider*/
.slider-container{
    padding: 0;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
/*slider end*/

/*section 內文文章介紹*/
#section1 {padding-top:50px;height:600px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:600px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:600px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:50px;height:600px;color: #fff; background-color: #aaa;}
#section5 {padding-top:50px;height:600px;color: #fff; background-color: #ccafff;}
#section31 {padding-top:50px;height:600px;color: #fff; background-color: #00bcd4;}
#section32 {padding-top:50px;height:600px;color: #fff; background-color: #cc23;}
#section33 {padding-top:50px;height:600px;color: #fff; background-color: #009688;}

.section-row{
    margin: 0;
}

/*row-section1*/
.section1-contact{
    text-align: center;
}
.item-section1_one>.images_logo>img{
    width:70%;
    height: 80px;
}
.section-button{
    width:15%;
    background-color: #8a0151;
    font-size: 16px;
    padding: 8px;
    color: #fff;
}
.section-button:hover{
    background-color: #94326b;
    color: #fff;
}
.item-section1_two>.images_shop>img{
    width:100px;
    /*height: 100px;*/
    /*border-radius: 50%;*/
}

/*row-section2*/
.section2-news{
    margin: 0;
}
/*row-section3*/
.item-img{
    width: 100%;
    height: 200px;
}

/*row-section3-1(31)*/
/*row-section3-2(32)*/
/*row-section4*/
/*訂購訊息vs訂單下載 #2*/
.section4-container-fluid{
    padding-top: 50px;
}
@media screen and (max-width: 25em) {
    .np-icon span {
        display: none;
    }
}
.grid {
     /*padding: 20px 20px 100px 20px;*/
     /*max-width: 1200px;*/
     margin: 0 auto;
     list-style: none;
     text-align: center;
 }
.grid li {
    display: inline-block;
    width: 440px;
    /*height: 200px;*/
    margin: 0;
    /*padding: 20px;*/
    text-align: left;
    position: relative;
}
.grid figure {
    /*margin: 0;*/
    position: relative;
}
.grid figure > div {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

/* 第二隱藏版子 */
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: rebeccapurple;
    color: #ed4e6e;
}
.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

/* take me there btn */
.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #31a7c4;
    color: #fff;
}

/* Caption animation */
.ca-style li {
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 0%;
    perspective-origin: 0 0%;
}
.ca-style figure {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.ca-style figure > div {
    overflow: hidden;
}
.ca-style figure img {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.ca-style figure:hover img {
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%);
    cursor: pointer;
}

/* take me there btn */
.ca-style figcaption {
    width: 100%;
    height: 210px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
.ca-style figure:hover figcaption{
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}
.ca-style figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.btn_hover:hover {
    background: #3fc7e8;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

/* make responsive */
@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 50px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}

/*row-section5*/
/*section end 內文文章介紹*/