*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /*outline: 1px solid #BB0000;*/
}
/*訂購訊息vs訂單下載 #1*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    position: relative;
}
.wrapper{
    /*background-color: #000;*/
}

/*nav bar*/
.navbar{
    margin-bottom:0;
}
.affix{
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: #F44336;
    border-color: #F44336;
    z-index: 99;
}
.affix a {
    color: #aaa !important;
    padding: 15px !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.affix-top a {
    padding: 15px !important;
}
.container-fluid{
    padding: 0;
}
.affix + .container-fluid {
    padding-top: 95px;
}
.dropdown-menu > li > a:hover{
    background-color: #4b525b;
}
/*nav bar end*/

/*news marquee跑馬燈*/
.marquee-container{
    margin-bottom: -0.2%;
}
.marQuee{
    overflow:hidden;
    width:100%;
    background-color:pink;
}
.doc-one{
    display:inline-block;
    border:1px solid;
    width:100%;
}

/*news marquee跑馬燈 end*/

/*slider*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
}
/*slider end*/

/*section 內文文章介紹*/
#section1 {padding-top:0;min-height:100vh;color: #fff; background-color: #ff0019;}
#section2 {padding-top:0;min-height:100vh;color: #fff; background-color: #ffa00f;}
#section3 {padding-top:0;min-height:100vh;color: #fff; background-color: #feff12;}
#section31 {padding-top:0;min-height:100vh;color: #fff; background-color: #32ff0a;}
#section32 {padding-top:0;min-height:100vh;color: #fff; background-color: #1cdaff;}
#section33 {padding-top:0;min-height:100vh;color: #fff; background-color: #2b39ff;}
#section4 {padding-top:0;min-height:100vh;color: #fff; background-color: #f223ff;}
#section5 {padding-top:0;min-height:100vh;color: #fff; background-color: #814f15;}
footer {padding-top:10px;min-height:100vh;color: #fff; background-color: #376b6e;}

.section-row{
    margin: 0;
}

/*row-section1*/
.section1-contact{
    text-align: center;
}
.item-section1_one>.images_logo>img{
    width:70%;
    height: 80px;
}
.section-button{
    width:15%;
    background-color: #8a0151;
    font-size: 16px;
    padding: 8px;
    color: #fff;
}
.section-button:hover{
    background-color: #94326b;
    color: #fff;
}
.item-section1_two>.images_shop>img{
    width:100px;
}

/*row-section2*/
.section2-news{
    margin: 0;
}
/*row-section3*/
.item-img{
    width: 100%;
}
.item-img-pdt{
    width: 100%;
    height: 506px;
}
/*row-section(31、32、33)*/
.text-name h4{
    position:relative;
    z-index:2;
    margin-top:-250px;
    font-size: 60px;
    color: #91848e;
    text-align: right;
}
/*row-section3-1(31)*/
#section31 .text-name h4{

}
/*row-section3-2(32)*/
#section32 .text-name h4{
    text-align: left;
}
.item-txt-pdt{
    text-align: left;
    color: #91848e;
    font-size: 20px;
}
/*row-section3-3(33)*/
#section33 .text-name h4{

}

/*row-section4*/

/*第一層 訂購訊息vs訂單下載 #2*/
.section4-container-fluid{
    padding-top: 50px;
}
@media screen and (max-width: 25em) {
    .np-icon span {
        display: none;
    }
}
.grid {
     /*padding: 20px 20px 100px 20px;*/
     /*max-width: 1200px;*/
     margin: 0 auto;
     list-style: none;
     text-align: center;
 }
.grid li {
    display: inline-block;
    width: 440px;
    margin: 0;
    text-align: left;
    position: relative;
}
.grid figure {
    position: relative;
}
.grid figure > div {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

/* 第二層 hover隱藏 */
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: rebeccapurple;
    color: #ed4e6e;
}
.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

/* take me there btn */
.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #31a7c4;
    color: #fff;
}

/* Caption animation */
.ca-style li {
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 0%;
    perspective-origin: 0 0%;
}
.ca-style figure {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.ca-style figure > div {
    overflow: hidden;
}
.ca-style figure img {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.ca-style figure:hover img {
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%);
    cursor: pointer;
}

/* take me there btn */
.ca-style figcaption {
    width: 100%;
    height: 210px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
.ca-style figure:hover figcaption{
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}
.ca-style figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.btn_hover:hover {
    background-color: #94326b;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

/* make responsive */
@media only screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 50px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}

/*第三 隱私權聲明 文字設計*/
.privacy-statement{
    text-align: center;
    font-size: 16px;
}

/*row-section5*/
.row-cakeShop{
    background-image: url(../images/index/cakeShop.png);
    width: 100%;
    min-height: 660px;
}
/*<div class="col-xs-12 col-md-4">*/
/*<div class="col-xs-12 col-md-8">*/
.required:after {
    content: " *必填欄位";
    color: red;
}
/*section footer end 內文文章介紹*/

/*footer內右邊側邊欄位 (關鍵字)float menu*/
.blk {
    position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute 固定位置fixed*/
    width: 21%;
    right: -20%;  /*設-100置水平位置，依所放的內容多寡需要自行手動調整*/
    transition: 400ms;
    top: 37%;  /*設置垂直位置*/
    z-index: 100;
    background-color: #ffc9d3;
    border-radius: 15px 0 0 15px;
}
.blk:hover{  /*當滑鼠移至此區塊時，伸縮區塊*/
    width: 5%;
    right: 0;
    z-index: 100;
}
.blk3 {
    position: fixed;
    margin-top: 10px;
    transition: 400ms;
}
/*floating menu right*/
.nomargin{
    background-color: #ffc9d3;
    width: 20%;
    border-radius: 15px 0 0 15px;
}