 /*
。col - xs - $額外的小電話少於768px 1
。col - sm - $小型設備平板電腦768px及以上
。col - md - $中型設備桌面992px及以上
。col - lg - $大型設備大型桌面1200px及以上
*/
*{
    outline: 1px solid #BB0000;
}
 /*Extra small devices (portrait phones, less than 576px)額外的小設備（肖像手機，小於576px）*/
@media (max-width: 575px) {
    /*版面*/
    #section1 {padding-top:0;max-width:100vh;min-height:100vh;color: #fff; background-color: #ff0019;}
    /*跑馬燈*/
    .marQuee{
        width: 100%;
    }
    /*關於高仕*/
    .thumbnail .images_logo img{
        width: 100%;
    }
    /*產品介紹*/
    .row-pdt{
        width: 50%;
        float: left;
    }
    /*蛋糕*/
    .item >.item-img-pdt{
        width: 100%;
        height: 100px;
    }
    .item >.text-name >a >h4 {
        font-size: 20px;
        margin:-50px 0 0 0;
    }
    /*彌月專區*/
    .item >.item-txt-pdt{
        /*padding-top: 30px; !*用推的可以運用空間做微調，把空間讓出來。*!*/
    }
    /*禮盒*/

}

 /*Small devices (landscape phones, 576px and up)小型設備（風景手機，576px及以上）*/
@media only screen and (min-width: 576px) and (max-width: 767px) {

}

 /*Medium devices (tablets, 768px and up)中等設備（平板電腦，768像素及以上）*/
@media (min-width: 768px) and (max-width: 991px) {

}

 /*Large devices (desktops, 992px and up)大型設備（桌面，992像素及以上）*/
@media (min-width: 992px) and (max-width: 1199px) {

}

 /*Extra large devices (large desktops, 1200px and up)超大型設備（大型桌面，1200像素以上）*/
@media (min-width: 1200px) {

}
