 /*
。col - xs - $額外的小電話少於768px 1
。col - sm - $小型設備平板電腦768px及以上
。col - md - $中型設備桌面992px及以上
。col - lg - $大型設備大型桌面1200px及以上
*/
*{
    /*outline: 1px solid #BB0000;*/
}
 /*Extra small devices (portrait phones, less than 576px)額外的小設備（肖像手機，小於576px）*/
@media (max-width: 575px) {
    /*版面*/
    #section1 {
        padding-top:0;
        max-width:100vh;
        min-height:100vh;
    }
    /*#section5*/
    #section5{
        padding: 0 0 5% 0;
    }
    .btn-form{
        padding: 3% 0 0 0;
    }
    .btn-sub{
        width:88%;
    }
    /*navbar*/
    /*footer內右邊側邊欄位 (關鍵字)float menu*/
    .blk {
        position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute 固定位置fixed*/
        width: 23%;
        right: -20%;  /*設-100置水平位置，依所放的內容多寡需要自行手動調整*/
        transition: 400ms;
        top: 37%;  /*設置垂直位置*/
        z-index: 100;
        background-color: #ffc9d3;
    }
    .blk:hover{  /*當滑鼠移至此區塊時，伸縮區塊*/
        width: 14%;
        right: 0.2%;
        z-index: 100;
    }
    .blk3 {
        position: fixed;
        margin-top: 10px;
    }
    /*floating menu right*/
    .nomargin{
        background-color: #ffc9d3;
        width: 20%;
        border-radius: 15px 0 0 15px;
    }
    /*跑馬燈*/
    .marQuee{
        width: 100%;
    }
    /*row-section(31、32、33)*/
    /*關於高仕 KAOSHIEH*/
    .section-button{
        width: 100%;
    }
    .thumbnail .images_logo img{
        width: 100%;
    }
    /*產品介紹 Product*/
    .row-pdt{
        width: 50%;
        float: left;
    }
    /*蛋糕*/
    .item >.item-img-pdt{
        width: 100%;
        height: 230px;
    }
    .item >.text-name >a >h4 {
        font-size: 20px;
        margin: -100px 0 0 0;
    }
    /*彌月專區*/
    .item >.item-txt-pdt p{
        margin-top: 20%;
    }
    /*禮盒*/

}

 /*Small devices (landscape phones, 576px and up)小型設備（風景手機，576px及以上）*/
@media only screen and (min-width: 576px) and (max-width: 767px) {

}

 /*Medium devices (tablets, 768px and up)中等設備（平板電腦，768像素及以上）*/
@media (min-width: 768px) and (max-width: 991px) {

}

 /*Large devices (desktops, 992px and up)大型設備（桌面，992像素及以上）*/
@media (min-width: 992px) and (max-width: 1199px) {

}

 /*Extra large devices (large desktops, 1200px and up)超大型設備（大型桌面，1200像素以上）*/
@media (min-width: 1200px) {

}
